*
!Scripts/
!Scripts/**
!.arch-install
!.bash_profile
!.bashrc
!.config/
!.config/i3/
!.config/i3/config
!.config/nvim/
!.config/nvim/sysinit.vim
!.config/nvim/init.vim
!.config/kitty/
!.config/kitty/kitty.conf
!.config/kitty/themes/
!.config/kitty/themes/**
!.config/i3status/config
!.config/polybar/
!.config/polybar/config
!.config/polybar/launch.sh
!.config/picom/
!.config/picom/picom.conf
!.config/fish
!.config/fish/config.fish
!.config/fish/fish_variables
!.config/neofetch/config.conf
!.config/starship.toml
!.tmux.conf
!.vimrc
!.vim/
!.vimrc
!.Xresources
!.xserverrc
!.xinitrc
!.screenlayout/
!.screenlayout/default.sh
