*
!.arch-install
!.bash_profile
!.bashrc
!.config/
!.config/i3/config
!.config/kitty/
!.config/kitty/kitty.conf
!.config/i3status/config
!.config/polybar/
!.config/polybar/config
!.config/polybar/launch.sh
!.config/picom/
!.config/picom/picom.conf
!.config/fish
!.config/fish/config.fish
!.config/fish/fish_variables
!.config/neofetch/config.conf
!.Xresources
!.xserverrc
!.xinitrc
!.screenlayout/
!.screenlayout/default.sh
!.wakeup
!nf
!.config/neofetch.jpg
