[Main]
Timeout=500
Timeout_Seconds=1
Click_Command=xfce4-taskmanager

[SL_Cpu]
Enabled=true
Use_Label=true
Color=rgb(98,160,234)
Text=

[SL_Mem]
Enabled=true
Use_Label=false
Color=rgb(87,227,137)
Text=mem

[SL_Swap]
Enabled=false
Use_Label=true
Color=rgb(240,240,0)
Text=\ 

[SL_Uptime]
Enabled=false

